@mixin skeletonPlaceholder {
	position: relative;
	overflow: hidden;
	pointer-events: none;

	&::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 200%;
		content: "";
		background-image:
			linear-gradient(
				to right,
				rgba(235, 239, 242, 1) 0%,
				rgba(235, 239, 242, 0) 35%,
				rgba(235, 239, 242, 1) 50%,
				rgba(235, 239, 242, 0) 85%,
				rgba(235, 239, 242, 1) 100%
			);
		background-size: 100% 100%;
		animation: placeholderShimmer 1s linear 0s infinite;
	}

	@keyframes placeholderShimmer {
		0% {
			transform: translate3d(0, 0, 0);
		}

		100% {
			transform: translate3d(50%, 0, 0);
		}
	}
}
